// colours
$white: #FFF;
$grayOne: #c8c8c8;
$grayTwo: #d8d8d8;
$grayThree: #9e9e9e;
$grayFour: #707070;
$grayFive: #f8f8f8;
$darkBlue: #2e424a;
$brightGreen: #45e554;
$brightGreen70: rgba(69, 229, 84, 0.7);
$darkGreen: #207b28;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// font sizes
$fontBody: 16px;

// padding
$bodyPadding-1: 3vw;
$bodyPadding0: 6vw;
$bodyPadding1: 9vw;
$bodyPadding2: 16vw;