header#header-style-1 {
  background-color: $white;
  position: fixed;
  width: 100vw;
  height: $headerHeightMobile;
  z-index: 10;

  @include respond-to(tablet) {
    height: auto;
    // height: $headerHeightTablet;
  }
  @include respond-to(desktop) {
    // height: $headerHeightDesktop;
  }
  
  .torque-header-content-wrapper {
    padding: 7px $bodyPadding1 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include respond-to(tablet) {
      width: 100vw;
      flex-direction: column;
      padding: 19px $bodyPadding1 16px;
    }
    @include respond-to(desktop) {
      width: unset;
      flex-direction: row;
      padding: 30px $bodyPadding1 25px;
    }

    // Logo
    .torque-header-logo-wrapper {
      flex: 1;
      text-align: left;

      @include respond-to(tablet) {
        text-align: center;
      }
      @include respond-to(desktop) {
        text-align: left;
        align-self: flex-start;
      }

      div {
        width: auto;
      }
    }

    // Mobile/burger menu toggle
    .torque-header-burger-menu-wrapper {
      align-self: flex-end;
      padding: 0px 25px;

      @include respond-to(tablet) {
        display: none;
      }

      .torque-burger-menu {
        transform: translateY(0%);

        .torque-burger-menu-line {
          background-color: $grayThree;
        }
      }
    }

    // Desktop/tablet menu
    .torque-header-menu-items-inline-wrapper {
      align-self: flex-end;
      position: relative;
      
      @include respond-to-max(tablet) {
        display: none;
      }
      @include respond-to(tablet) {
        width: 100%;
        margin: 15px auto 0;
      }
      @include respond-to(desktop) {
        width: auto;
        margin: 69px auto 15px;
      }

      .torque-menu-items-inline {
        transition: 0.2s;

        @include respond-to(tablet) {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-evenly;
        }

        @include respond-to(desktop) {

        }

        .torque-menu-item-wrapper {
          color: $grayThree;

          &:not(:last-child) {
            margin-right: $bodyPadding-1;
          }

          &.parent {

            @include respond-to(desktop) {
              padding-right: 20px;
            }
            
            & > a { // get first a tag
              position: relative;
              display: block;

              &:after {
                content: '\F347';
                font-family: dashicons;
                font-size: 1.2em;
                position: absolute;
                right: -40%;
                top: 0;
              }
            }

            .torque-menu-item-children-wrapper {
              top: 100%;
              left: 0;
              width: 0;
              height: 0;
              background-color: $white;
              padding: 0;
              box-sizing: border-box;

              transition: opacity .4s ease-in-out;
              visibility: hidden;
              opacity: 0;

              z-index: 99;

              .torque-menu-item-wrapper {
                display: block;
                text-align: left;
                padding: 5px 10px 5px 0;
                margin: 0 auto 0 0;
              }
            }

            &:hover {
              border-bottom: 1px solid $grayOne;
              margin-bottom: 20px;

              @include respond-to(desktop) {
                margin-bottom: 0;
              }

              .torque-menu-item-children-wrapper {
                visibility: visible;
                opacity: 1;
                height: auto;
                padding: 10px 0;
                overflow-x: visible;
                
                .torque-menu-item-wrapper {
                  min-width: 200px;
                }
              }
            }
          }

          .torque-menu-item {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  // Mobile menu
  .torque-header-menu-items-mobile {
    top: $headerHeightMobile;
    background-color: $white;
    padding: $bodyPadding-1 $bodyPadding1;
    box-sizing: border-box;

    @include respond-to(tablet) {
      top: $headerHeightTablet;
      display: none;
    }
    @include respond-to(desktop) {
      top: $headerHeightDesktop;
    }
    
    &:not(.active) {
      padding: 0 $bodyPadding1;
    }

    .torque-menu-items-stacked {

      // Only the top-level wrapper 
      & > .torque-menu-item-wrapper {
        padding: 7px 5px;

        .torque-menu-item {
          color: $grayThree;
        }
      }

      .torque-menu-item-wrapper {
        text-align: left;
        font-size: 1.2857em; // ~18px
  
        &.parent {
    
          @include respond-to(desktop) {
            padding-right: 20px;
          }
          
          & > a { // get first a tag
            position: relative;
            display: inline-block;
    
            &:after {
              content: '\F347';
              color: $grayThree;
              font-family: dashicons;
              font-size: 1.2em;
              position: absolute;
              right: -40%;
              top: 0;
            }
          }

          // Collapsed mobile drop-down
          .torque-menu-item-children-wrapper {
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.2s;
            border-bottom: 1px solid;
            max-width: 80%;
          }
        }

        // Expanded mobile drop-down
        &.drop-down-active {
          .torque-menu-item-children-wrapper {
            height: auto;
            opacity: 1;
            visibility: visible;
            padding: 1.5vw 0;

            .torque-menu-item-wrapper {
              padding: 5px 0;
              font-size: 0.78em; // ~14px
            }
          }
        }
  
        .torque-menu-item {
          text-transform: uppercase;
        }
      }
    }
  }
}

// Homepage header background color 
.home {
  header#header-style-1 {
    background-color: $darkBlue !important;

    .torque-header-content-wrapper {
      .torque-header-menu-items-inline-wrapper {
        .torque-menu-items-inline {
          .torque-menu-item-wrapper {
            .torque-menu-item-children-wrapper {
              background-color: $darkBlue !important;
            }
          }
        }
      }
    }
  }
  .torque-header-menu-items-mobile {
    background-color: $darkBlue !important;
  }
}