.post-hero-section {
  text-align: center;
  background-color: $white;
  
  padding: ($headerHeightMobile + 30px) 0 2vw;

  @include respond-to(tablet) {
    padding: ($headerHeightTablet + 30px) $bodyPadding-2 2vw;
  }

  @include respond-to(desktop) {
    padding: ($headerHeightDesktop + 30px) $bodyPadding1 2vw;
  }

  .post-title {
    margin: 0 auto 30px;
  }

  .post-featured-image-wrapper {
    width: 100%;
    
    .post-featured-image {
      width: 100%;
      height: auto;
    }
  }
}