/**
 * Mixin to define background location of fern
 * Assumes position: relative on container,
 * so this inner background wrapper element can work
 */
@mixin fullWidthBackgroundGraphic(
  $xSize: 100%,
  $ySize: 100%,
  $xPosition: center,
  $yPosition: center
) {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  mix-blend-mode: multiply;

  background-image: url("../statics/images/fern-background-template.png");
  background-repeat: no-repeat;
  background-size: $xSize $ySize;
  background-position: $xPosition $yPosition;
}