.content-section-one {
  text-align: center;
  padding: $bodyPadding0 $bodyPadding1;

  .content-section-one-title {

    h3 {
      color: $brightGreen;
    }
  }

  .content-section-one-content {
    width: 100%;
    max-width: 576px;
    margin: 0 auto 15px;

    p {
      color: $white;
    }
  }

  .content-section-one-cta {
    @extend %useGreenCtaStyle;

    &.green-arrow-right:before {
      @extend %useGreenArrowRight;
    }
  }

  .content-section-one-image {
    display: block;
    width: 100%;
    max-width: 975px;
    margin: 45px auto 0;
  }

  // Split background color
  &.split-background {
    // Blue top, white bottom
    &.primary-background-color-darkBlue {
      &.secondary-background-color-white {
        @include backgroundGradient($darkBlue, $white, 'top');
      }
    }
    
    // White top, blue bottom
    &.primary-background-color-white {
      .secondary-background-color-darkBlue {
        @include backgroundGradient($white, $darkBlue, 'top');
      }
    }
  }

  // Single background color
  &:not(.split-background) {
    // All blue
    &.primary-background-color-darkBlue {
      background-color: $darkBlue;
    }
    // All blue
    &.primary-background-color-white {
      background-color: $white;
    }
  }
}