.content-columns-section {
  background-color: $grayFive;
  padding: $bodyPadding1 $bodyPadding0;
  position: relative;

  // background
  .full-width-background-graphic {
    @include fullWidthBackgroundGraphic(auto, 100%, center, center);
    top: -20%;
  }

  .col-container {
    position: relative;
    overflow: auto;

    .col-wrapper {
      padding: $bodyPadding-1 3vw;

      @include respond-to-max(desktop) {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}