#hero-section-one {

  text-align: center;
  padding: $bodyPadding1 $bodyPadding1 2vw;

  .hero-title-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1028px;

    h1 {}
  
    // Green arrow
    .green-arrow-down-right {
      @extend %useGreenArrowDownRight;
    }
  }

  .hero-sub-title {
    margin-bottom: 5%;

    p {
      font-weight: bold;
      line-height: 1.65;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      max-width: 668px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Background color styling
  &.background-type-color {
    &.background-color-dark_blue {
      background-color: $darkBlue;

      h1 {
        color: $white;
      }
      p {
        color: $brightGreen;
      }
    }
    &.background-color-white {
      background-color: $white;

      h1 {
        color: $darkBlue;
      }
      p {
        color: $grayFour;
      }
    }
  }

  // Background image styling
  &.background-type-image {
    @extend %imageSizeHero;
  }
}