.stats-text-section {
  padding: 0 $bodyPadding1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include respond-to(desktop) {
    flex-direction: row;
  }
  
  .stats-text-section-stats-container {
    flex: 1;
    padding: 0 $bodyPadding0;

    .stats-text-section-statistic {
      width: 100%;
      letter-spacing: normal;
      margin: 0 auto 0 0;

      &:not(:last-child):after {
        @extend %useGreenStainLeft;

        @include respond-to-max(tablet) {
          margin-left: -15%;
        }
      }
    }

  }

  .stats-text-section-content-container {
    flex: 1;
    padding: 0 $bodyPadding0 0 0;

    .stats-text-section-content {
      font-size: 1.43em; // 20px
      line-height: 1.3;
      text-align: center;
      
      @include respond-to(tablet) {
        font-size: 1.25em; // 20px
      }
      @include respond-to(tablet) {
        text-align: left;
        max-width: 80%;
      }
    }
  }

  &.stats-placement-right {
    @include respond-to(desktop) {
      flex-direction: row-reverse;
    }
  }
}