.title-content-section {
  padding: 0 $bodyPadding1 $bodyPadding-1;
  text-align: center;

  .title-content-section-title {
    margin-bottom: 12px;
  }

  .title-content-section-content-container {
    padding: 0 $bodyPadding0;

    .title-content-section-content {
      line-height: 1.3;
      margin: 0 auto;

      @include respond-to(tablet) {
        max-width: 80%;
      }
    }
  }
}